:root {
    --color-primary: #000066;
    --button-width: 256px;
    --button-height: 48px;
}

body {
    background-color: #f5f5dc;
    color: #000066;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
