:root {
    --color-primary: #000066;
    --button-width: 256px;
    --button-height: 48px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5dc;
    color: #000066;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input {
    font-size: 1rem;
    padding: 8px;
    border: 3px solid #000097;
    border-radius: 4px;
    width: 240px;
}

a {
    width: 120px;
    margin: 8px;
    padding: 8px;
    background-color: #000097;
    color: #f5f5dc;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.consumer {
    height: 64px;
    padding: 16px;
    border: 3px solid deeppink;
    border-radius: 4px;
    color: deeppink;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    min-height: 42vh;
    padding: 60px;
}

.page-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
